/*
 * Rofi Theme Colors
 * Generated with Matugen
 */

* {
    main-bg:            #0e141cB3;
    main-fg:            #dde3eeE6;
    main-br:            #8691a4E6;
    main-ex:            #0e141cE6;
    select-bg:          #004f5680;
    select-fg:          #8af2ffE6;
}
