/*
 * Rofi Theme Colors
 * Generated with Matugen
 */

* {
    main-bg:            #141311B3;
    main-fg:            #e6e2ddE6;
    main-br:            #93908cE6;
    main-ex:            #141311E6;
    select-bg:          #4d473280;
    select-fg:          #ece2c6E6;
}
