[Unit]
Description=xremap key remapping daemon

[Service]
ExecStart=/usr/bin/xremap %h/.config/xremap/config.yml
Restart=always

[Install]
WantedBy=default.target
