layout{
    focus-ring{
        active-gradient from="#d0c6abcc" to="#d2c6a1cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3b3936"
        urgent-color "#ffb4ab"
    }
}
