layout{
    focus-ring{
        active-gradient from="#e2c54bcc" to="#aad0b2cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#393939"
        urgent-color "#ffb4ab"
    }
}
