layout{
    focus-ring{
        active-gradient from="#4ed8e7cc" to="#a3c9fecc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343943"
        urgent-color "#ffb4ab"
    }
}
